@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-speed:before {
  content: "\e909";
}

._icon-environmental:before {
  content: "\e906";
}

._icon-users:before {
  content: "\e907";
}

._icon-zigzag:before {
  content: "\e908";
}

._icon-finance:before {
  content: "\e900";
}

._icon-location:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-mobile:before {
  content: "\e903";
}

._icon-services:before {
  content: "\e904";
}

._icon-toolbox:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #FAFAFA;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  font-weight: 700;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  display: inline-block;
  padding: 0.625rem 2.25rem;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button--orange {
  background: #FF7B47;
  border-radius: 37px;
  color: #fff;
  letter-spacing: 0.2px;
}

.button--transparent {
  color: #0D5C63;
  background-color: transparent;
  border: 1px solid #0D5C63;
  border-radius: 37px;
}

.button--rectangletransparent {
  background-color: transparent;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  color: #FF7B47;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.button--rectanglewhite {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.button--rectangleorange {
  background: #FF7B47;
  border-radius: 5px;
  color: #fff;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  letter-spacing: 0.2px;
}

.title {
  text-align: center;
}

.title__label {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.42;
  /* 57/40 */
  letter-spacing: 0.2px;
  color: #252B42;
}

.title__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.title__subtitle {
  line-height: 1.42;
  /* 20/14 */
  letter-spacing: 0.2px;
  max-width: 31.875rem;
  margin: 0px auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: hsla(0deg, 0%, 100%, 0.587);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  /* 32/24 */
  letter-spacing: 0.1px;
  color: #252B42;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__icon {
  margin: 0px 0px 0px auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.menu__item {
  font-weight: 600;
  line-height: 1.71;
  /* 24/14 */
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.icon-menu {
  display: none;
}

.main-footer {
  background-color: #17213C;
}

.main-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer__contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.main-footer__contacts li::before {
  color: #8EC2F2;
  font-size: 1.5rem;
}

.item-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
  color: #FFFFFF;
}

.item-footer__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.item-footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-footer__text {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
}

.item-footer__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-footer__link:hover {
  text-decoration: underline;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__text {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.bottom-footer__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__link img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom-footer__link img:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.main {
  position: relative;
}

.main__body {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 31.875rem;
}

.main__title {
  font-weight: 800;
  line-height: 1.37;
  /* 80/58 */
  letter-spacing: 0.2px;
  color: #252B42;
}

.main__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  /* 30/20 */
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 23.5rem;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.main__image img {
  -o-object-position: right;
     object-position: right;
}

.advantages {
  position: relative;
  z-index: 6;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 330px))[3];
  grid-template-columns: repeat(3, minmax(auto, 330px));
  gap: 1.875rem;
}

.item-advantages {
  padding: 2.1875rem 3.375rem 2.1875rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-advantages__icon {
  font-size: 3rem;
  color: #0D5C63;
  color: inherit;
}

.item-advantages__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  /* 32/24 */
  letter-spacing: 0.1px;
  color: #252B42;
  color: inherit;
}

.item-advantages__description {
  line-height: 1.42;
  /* 20/14 */
  letter-spacing: 0.2px;
}

.item-advantages:hover {
  background-color: #0D5C63;
  color: #fff;
}

.item-advantages:hover__title {
  color: #fff;
}

.item-advantages:hover__icon {
  color: #fff;
}

.experience__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experience__item {
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.experience__icon {
  color: #0D5C63;
}

.experience__number {
  font-weight: 700;
  line-height: 1.42;
  /* 57/40 */
  letter-spacing: 0.2px;
  color: #252B42;
}

.experience__description {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  /* 24/16 */
  letter-spacing: 0.1px;
  text-align: center;
  color: #737373;
}

.advice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.25rem -1.25rem -1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice__column {
  padding: 0 1.25rem 1.25rem 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-advice {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-advice__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-advice__link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
  color: inherit;
  display: inline-block;
}

.item-advice__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-advice__text {
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: #737373;
  color: inherit;
}

.item-advice__image {
  display: block;
  padding-bottom: 60%;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.5%;
          flex: 0 0 57.5%;
  position: relative;
  padding-bottom: 42.25%;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.whoweare__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: #252B42;
}

.whoweare__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.whoweare__text {
  line-height: 1.42;
  /* 20/14 */
  letter-spacing: 0.2px;
  color: #737373;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.item-whoweare__icon {
  width: 1.25rem;
}

.item-whoweare__body:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-whoweare__text {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
}

.clients__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 9.5rem))[6];
  grid-template-columns: repeat(6, minmax(auto, 9.5rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.clients__image {
  padding: 0 0.9375rem;
  position: relative;
}

.subscribe {
  position: relative;
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #252B42;
  height: 4.8125rem;
}

.subscribe__container {
  position: relative;
  z-index: 3;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #17213C;
  border-radius: 2px;
  padding: 1.875rem 3.125rem;
}

.subscribe__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 16.625rem;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.9375rem 0.9375rem 0.9375rem 1.25rem;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 0.3125rem 0 0 0.3125rem;
  border-right: none;
  min-height: 3.625rem;
}

.subscribe__button {
  line-height: 2;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  min-height: 3.625rem;
  padding: 0rem 1.40625rem;
  background-color: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.getintouch {
  background-color: #F3F3F3;
}

.item-getintouch {
  background-color: #fff;
  text-align: center;
}

.item-getintouch > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-getintouch__icon {
  color: #0D5C63;
}

.item-getintouch__icon--white {
  color: #fff;
}

.item-getintouch__mails {
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #252B42;
  color: inherit;
}

.item-getintouch__email {
  display: block;
  font-weight: 600;
}

.item-getintouch__sibtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
  color: inherit;
}

.item-getintouch__button {
  max-width: 10.4375rem;
}

.item-getintouch--active {
  background-color: #17213C;
  color: #fff;
}

.contactus__container {
  text-align: center;
}

.contactus__content:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contactus__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #17213C;
}

.contactus__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contactus__subtitle {
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (min-width: 47.99875em) {
  .subscribe__body {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .contactus__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }

  .contactus__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (min-width: 50.3125rem) {
  .getintouch__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .getintouch__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }

  .item-getintouch {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 67.25em) {
  .header__container {
    -webkit-column-gap: 8.25rem;
       -moz-column-gap: 8.25rem;
            column-gap: 8.25rem;
  }

  .header__container {
    min-height: 6.25rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 3.125rem;
  }

  .main-footer__container {
    padding-top: 3.125rem;
  }

  .main-footer__container {
    padding-bottom: 3.125rem;
  }

  .bottom-footer__container {
    padding-top: 1.5625rem;
  }

  .bottom-footer__container {
    padding-bottom: 1.5625rem;
  }

  .main__body {
    padding-top: 11.5rem;
  }

  .main__body {
    padding-bottom: 12rem;
  }

  .main__body {
    row-gap: 2.1875rem;
  }

  .main__title {
    font-size: 3.625rem;
  }

  .advantages {
    margin-bottom: 5rem;
  }

  .advantages__items {
    margin-top: -6.9375rem;
  }

  .experience {
    margin-bottom: 5rem;
  }

  .experience__body {
    gap: 1.875rem;
  }

  .experience__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .experience__item {
    -ms-flex-preferred-size: 14.375rem;
        flex-basis: 14.375rem;
  }

  .experience__item {
    padding-right: 1.25rem;
  }

  .experience__item {
    padding-left: 1.25rem;
  }

  .experience__item {
    padding-top: 1.875rem;
  }

  .experience__item {
    padding-bottom: 1.875rem;
  }

  .experience__icon {
    font-size: 3rem;
  }

  .experience__number {
    font-size: 2.5rem;
  }

  .advice {
    padding-top: 5rem;
  }

  .advice {
    padding-bottom: 5rem;
  }

  .advice__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .item-advice__content {
    padding: 1.875rem;
  }

  .item-advice__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .whoweare__container {
    padding-top: 6.25rem;
  }

  .whoweare__container {
    padding-bottom: 6.25rem;
  }

  .whoweare__header {
    margin-bottom: 6.25rem;
  }

  .whoweare__content {
    padding-left: 7.5rem;
  }

  .whoweare__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .item-whoweare:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .clients__container {
    padding-bottom: 3.125rem;
  }

  .clients__container {
    padding-top: 3.125rem;
  }

  .clients__container {
    gap: 1.875rem;
  }

  .subscribe__container {
    padding-top: 1.25rem;
  }

  .subscribe__container {
    padding-bottom: 1.25rem;
  }

  .getintouch__header {
    margin-bottom: 5rem;
  }

  .getintouch__container {
    padding-top: 5rem;
  }

  .getintouch__container {
    padding-bottom: 9.25rem;
  }

  .item-getintouch {
    padding-bottom: 3.125rem;
  }

  .item-getintouch {
    padding-top: 3.125rem;
  }

  .item-getintouch {
    padding-right: 2.5rem;
  }

  .item-getintouch {
    padding-left: 2.5rem;
  }

  .item-getintouch__icon {
    font-size: 4.5rem;
  }

  .item-getintouch--active {
    padding-bottom: 5rem;
  }

  .item-getintouch--active {
    padding-top: 5rem;
  }

  .contactus__container {
    padding-top: 2.5rem;
  }

  .contactus__container {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .header__container {
    min-height: 4.375rem;
  }

  .footer__container {
    padding-top: 1.5625rem;
  }

  .footer__container {
    padding-bottom: 1.5625rem;
  }

  .main-footer__container {
    padding-top: 1.5625rem;
  }

  .main-footer__container {
    padding-bottom: 1.5625rem;
  }

  .bottom-footer__container {
    padding-top: 0.625rem;
  }

  .bottom-footer__container {
    padding-bottom: 0.625rem;
  }

  .main__body {
    padding-top: 6.25rem;
  }

  .main__body {
    padding-bottom: 6.25rem;
  }

  .main__body {
    row-gap: 0.9375rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .advantages {
    margin-bottom: 1.875rem;
  }

  .advantages__items {
    margin-top: -2.5rem;
  }

  .experience {
    margin-bottom: 2.5rem;
  }

  .experience__body {
    gap: 0.9375rem;
  }

  .experience__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .experience__item {
    -ms-flex-preferred-size: 13.125rem;
        flex-basis: 13.125rem;
  }

  .experience__item {
    padding-right: 0.9375rem;
  }

  .experience__item {
    padding-left: 0.9375rem;
  }

  .experience__item {
    padding-top: 1.25rem;
  }

  .experience__item {
    padding-bottom: 1.25rem;
  }

  .experience__icon {
    font-size: 2.1875rem;
  }

  .experience__number {
    font-size: 1.875rem;
  }

  .advice {
    padding-top: 1.5625rem;
  }

  .advice {
    padding-bottom: 1.5625rem;
  }

  .advice__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-advice__content {
    padding: 1.25rem;
  }

  .item-advice__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .whoweare__container {
    padding-top: 1.5625rem;
  }

  .whoweare__container {
    padding-bottom: 1.5625rem;
  }

  .whoweare__header {
    margin-bottom: 1.5625rem;
  }

  .whoweare__content {
    padding-left: 0.9375rem;
  }

  .whoweare__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .item-whoweare:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .clients__container {
    padding-bottom: 1.25rem;
  }

  .clients__container {
    padding-top: 1.25rem;
  }

  .clients__container {
    gap: 0.9375rem;
  }

  .subscribe__container {
    padding-top: 0.625rem;
  }

  .subscribe__container {
    padding-bottom: 0.625rem;
  }

  .getintouch__header {
    margin-bottom: 1.25rem;
  }

  .getintouch__container {
    padding-top: 1.25rem;
  }

  .getintouch__container {
    padding-bottom: 1.875rem;
  }

  .item-getintouch {
    padding-bottom: 1.5625rem;
  }

  .item-getintouch {
    padding-top: 1.5625rem;
  }

  .item-getintouch {
    padding-right: 1.25rem;
  }

  .item-getintouch {
    padding-left: 1.25rem;
  }

  .item-getintouch__icon {
    font-size: 2.8125rem;
  }

  .item-getintouch--active {
    padding-bottom: 1.875rem;
  }

  .item-getintouch--active {
    padding-top: 1.875rem;
  }

  .contactus__container {
    padding-top: 1.25rem;
  }

  .contactus__container {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 65rem) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 64.6875rem) {
  .experience__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 56.875rem) {
  .clients__container {
    -ms-grid-columns: (minmax(auto, 9.5rem))[3];
    grid-template-columns: repeat(3, minmax(auto, 9.5rem));
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
    overflow: auto;
    background-color: hsl(180deg, 1%, 81%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    background-color: #d0d0d0;
    z-index: 2;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-bottom: 1px solid #17213C;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__item {
    font-size: 2.1875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-footer__items {
    row-gap: 1.5625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }

  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 0.9375rem;
  }

  .bottom-footer__sociallinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__image {
    opacity: 0.5;
  }

  .advantages__items {
    -ms-grid-columns: (minmax(auto, 330px))[1];
    grid-template-columns: repeat(1, minmax(auto, 330px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 0.9375rem;
  }

  .whoweare__video {
    padding-bottom: 55%;
  }

  .whoweare__content {
    padding-left: 0;
  }

  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.25rem 1.5625rem;
  }

  .subscribe__title {
    max-width: 100%;
  }

  .subscribe__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .subscribe__form {
    width: 100%;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 4.6875rem;
  }

  .menu__body::before {
    max-height: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 36.25rem) {
  .item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 30rem) {
  .experience__item {
    -ms-flex-preferred-size: 20.625rem;
        flex-basis: 20.625rem;
  }
}

@media (max-width: 29.99875em) {
  .clients__container {
    -ms-grid-columns: (minmax(auto, 9.5rem))[2];
    grid-template-columns: repeat(2, minmax(auto, 9.5rem));
  }
}

@media (max-width: 25rem) {
  .item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .main__body {
    text-align: center;
  }

  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__input {
    border: 1px solid #E6E6E6;
    border-radius: 0.3125rem;
    width: 100%;
  }

  .subscribe__input:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .subscribe__button {
    border: 1px solid #E6E6E6;
    border-radius: 0.3125rem;
    width: 100%;
  }

  .subscribe__button:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 67.25em) {
@supports ((-moz-column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem )) or (column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem );
         -moz-column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem );
              column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem )) or (column-gap: clamp( 1.875rem , -0.8234126984rem  +  13.4920634921vw , 8.25rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.875rem + 6.375 * (100vw - 20rem) / 47.25);
         -moz-column-gap: calc(1.875rem + 6.375 * (100vw - 20rem) / 47.25);
              column-gap: calc(1.875rem + 6.375 * (100vw - 20rem) / 47.25);
    }
}

@supports (min-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem )) {
    .header__container {
      min-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem )) {
    .header__container {
      min-height: calc(4.375rem + 1.875 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .footer__container {
      padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .footer__container {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .footer__container {
      padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .footer__container {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .main-footer__container {
      padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .main-footer__container {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .main-footer__container {
      padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .main-footer__container {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem )) {
    .bottom-footer__container {
      padding-top: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem )) {
    .bottom-footer__container {
      padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem )) {
    .bottom-footer__container {
      padding-bottom: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.2281746032rem  +  1.9841269841vw , 1.5625rem )) {
    .bottom-footer__container {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.0277777778rem  +  11.1111111111vw , 11.5rem )) {
    .main__body {
      padding-top: clamp( 6.25rem , 4.0277777778rem  +  11.1111111111vw , 11.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.0277777778rem  +  11.1111111111vw , 11.5rem )) {
    .main__body {
      padding-top: calc(6.25rem + 5.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 3.8161375661rem  +  12.1693121693vw , 12rem )) {
    .main__body {
      padding-bottom: clamp( 6.25rem , 3.8161375661rem  +  12.1693121693vw , 12rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 3.8161375661rem  +  12.1693121693vw , 12rem )) {
    .main__body {
      padding-bottom: calc(6.25rem + 5.75 * (100vw - 20rem) / 47.25);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.4083994709rem  +  2.6455026455vw , 2.1875rem )) {
    .main__body {
      row-gap: clamp( 0.9375rem , 0.4083994709rem  +  2.6455026455vw , 2.1875rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.4083994709rem  +  2.6455026455vw , 2.1875rem )) {
    .main__body {
      row-gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1342592593rem  +  3.7037037037vw , 3.625rem )) {
    .main__title {
      font-size: clamp( 1.875rem , 1.1342592593rem  +  3.7037037037vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1342592593rem  +  3.7037037037vw , 3.625rem )) {
    .main__title {
      font-size: calc(1.875rem + 1.75 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .advantages {
      margin-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .advantages {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-top: clamp( -6.9375rem , -0.6216931217rem  +  -9.3915343915vw , -2.5rem )) {
    .advantages__items {
      margin-top: clamp( -6.9375rem , -0.6216931217rem  +  -9.3915343915vw , -2.5rem );
    }
}

@supports not (margin-top: clamp( -6.9375rem , -0.6216931217rem  +  -9.3915343915vw , -2.5rem )) {
    .advantages__items {
      margin-top: calc(-2.5rem + -4.4375 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4417989418rem  +  5.291005291vw , 5rem )) {
    .experience {
      margin-bottom: clamp( 2.5rem , 1.4417989418rem  +  5.291005291vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4417989418rem  +  5.291005291vw , 5rem )) {
    .experience {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem )) {
    .experience__body {
      gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem )) {
    .experience__body {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3458994709rem  +  2.6455026455vw , 3.125rem )) {
    .experience__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.3458994709rem  +  2.6455026455vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3458994709rem  +  2.6455026455vw , 3.125rem )) {
    .experience__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (flex-basis: clamp( 13.125rem , 12.5958994709rem  +  2.6455026455vw , 14.375rem )) {
    .experience__item {
      -ms-flex-preferred-size: clamp( 13.125rem , 12.5958994709rem  +  2.6455026455vw , 14.375rem );
          flex-basis: clamp( 13.125rem , 12.5958994709rem  +  2.6455026455vw , 14.375rem );
    }
}

@supports not (flex-basis: clamp( 13.125rem , 12.5958994709rem  +  2.6455026455vw , 14.375rem )) {
    .experience__item {
      -ms-flex-preferred-size: calc(13.125rem + 1.25 * (100vw - 20rem) / 47.25);
          flex-basis: calc(13.125rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem )) {
    .experience__item {
      padding-right: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem )) {
    .experience__item {
      padding-right: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem )) {
    .experience__item {
      padding-left: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.8052248677rem  +  0.6613756614vw , 1.25rem )) {
    .experience__item {
      padding-left: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .experience__item {
      padding-top: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .experience__item {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .experience__item {
      padding-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .experience__item {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.8435846561rem  +  1.7195767196vw , 3rem )) {
    .experience__icon {
      font-size: clamp( 2.1875rem , 1.8435846561rem  +  1.7195767196vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.8435846561rem  +  1.7195767196vw , 3rem )) {
    .experience__icon {
      font-size: calc(2.1875rem + 0.8125 * (100vw - 20rem) / 47.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6104497354rem  +  1.3227513228vw , 2.5rem )) {
    .experience__number {
      font-size: clamp( 1.875rem , 1.6104497354rem  +  1.3227513228vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6104497354rem  +  1.3227513228vw , 2.5rem )) {
    .experience__number {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem )) {
    .advice {
      padding-top: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem )) {
    .advice {
      padding-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem )) {
    .advice {
      padding-bottom: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.107473545rem  +  7.2751322751vw , 5rem )) {
    .advice {
      padding-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5886243386rem  +  3.3068783069vw , 2.8125rem )) {
    .advice__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5886243386rem  +  3.3068783069vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5886243386rem  +  3.3068783069vw , 2.8125rem )) {
    .advice__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-advice__content {
      padding: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-advice__content {
      padding: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-advice__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-advice__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__container {
      padding-top: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__container {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__container {
      padding-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__container {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__header {
      margin-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -0.4216269841rem  +  9.9206349206vw , 6.25rem )) {
    .whoweare__header {
      margin-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.8402777778rem  +  13.8888888889vw , 7.5rem )) {
    .whoweare__content {
      padding-left: clamp( 0.9375rem , -1.8402777778rem  +  13.8888888889vw , 7.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.8402777778rem  +  13.8888888889vw , 7.5rem )) {
    .whoweare__content {
      padding-left: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .whoweare__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .whoweare__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-whoweare:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9854497354rem  +  1.3227513228vw , 1.875rem )) {
    .item-whoweare:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem )) {
    .clients__container {
      padding-bottom: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem )) {
    .clients__container {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem )) {
    .clients__container {
      padding-top: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.4563492063rem  +  3.9682539683vw , 3.125rem )) {
    .clients__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.25);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem )) {
    .clients__container {
      gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5406746032rem  +  1.9841269841vw , 1.875rem )) {
    .clients__container {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem )) {
    .subscribe__container {
      padding-top: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem )) {
    .subscribe__container {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem )) {
    .subscribe__container {
      padding-bottom: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3604497354rem  +  1.3227513228vw , 1.25rem )) {
    .subscribe__container {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem )) {
    .getintouch__header {
      margin-bottom: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem )) {
    .getintouch__header {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem )) {
    .getintouch__container {
      padding-top: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.3373015873rem  +  7.9365079365vw , 5rem )) {
    .getintouch__container {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.2466931217rem  +  15.6084656085vw , 9.25rem )) {
    .getintouch__container {
      padding-bottom: clamp( 1.875rem , -1.2466931217rem  +  15.6084656085vw , 9.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.2466931217rem  +  15.6084656085vw , 9.25rem )) {
    .getintouch__container {
      padding-bottom: calc(1.875rem + 7.375 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .item-getintouch {
      padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .item-getintouch {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .item-getintouch {
      padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.9011243386rem  +  3.3068783069vw , 3.125rem )) {
    .item-getintouch {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .item-getintouch {
      padding-right: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .item-getintouch {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .item-getintouch {
      padding-left: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .item-getintouch {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (font-size: clamp( 2.8125rem , 2.0982142857rem  +  3.5714285714vw , 4.5rem )) {
    .item-getintouch__icon {
      font-size: clamp( 2.8125rem , 2.0982142857rem  +  3.5714285714vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 2.0982142857rem  +  3.5714285714vw , 4.5rem )) {
    .item-getintouch__icon {
      font-size: calc(2.8125rem + 1.6875 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .item-getintouch--active {
      padding-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .item-getintouch--active {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .item-getintouch--active {
      padding-top: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5522486772rem  +  6.6137566138vw , 5rem )) {
    .item-getintouch--active {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .contactus__container {
      padding-top: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .contactus__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .contactus__container {
      padding-bottom: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7208994709rem  +  2.6455026455vw , 2.5rem )) {
    .contactus__container {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 67.25em) {
  .menu__body {
    padding-top: 6.875rem;
  }

  .menu__body::before {
    max-height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 67.25em) {
@supports (padding-top: clamp( 4.6875rem , 3.7615740741rem  +  4.6296296296vw , 6.875rem )) {
    .menu__body {
      padding-top: clamp( 4.6875rem , 3.7615740741rem  +  4.6296296296vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 4.6875rem , 3.7615740741rem  +  4.6296296296vw , 6.875rem )) {
    .menu__body {
      padding-top: calc(4.6875rem + 2.1875 * (100vw - 20rem) / 47.25);
    }
}

@supports (max-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem )) {
    .menu__body::before {
      max-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem );
    }
}

@supports not (max-height: clamp( 4.375rem , 3.5813492063rem  +  3.9682539683vw , 6.25rem )) {
    .menu__body::before {
      max-height: calc(4.375rem + 1.875 * (100vw - 20rem) / 47.25);
    }
}
}

@media (any-hover: hover) {
  .button--orange:hover {
    background: #f85515;
  }

  .button--transparent:hover {
    color: #fff;
    background: #FF7B47;
    border: 1px solid #FF7B47;
  }

  .button--rectangletransparent:hover {
    color: #fff;
    background-color: #FF7B47;
    border: 1px solid transparent;
  }

  .button--rectanglewhite:hover {
    color: #fff;
    border: 1px solid transparent;
    background-color: #FF7B47;
  }

  .button--rectangleorange:hover {
    background: #f85515;
  }

  .menu__item:hover {
    text-decoration: underline;
  }

  .item-advice:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item-advice__link:hover {
    text-decoration: underline;
  }

  .subscribe__button:hover {
    background-color: #f85515;
  }

  .item-getintouch__email:hover {
    text-decoration: underline;
  }
}